{% extends 'base/front_base.html' %}

{% block title %}付费页面{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/payinfo/payinfo.min.css' %}">
{% endblock %}

{% block main %}
<div class="main">
    <div class="wrapper">
        <div class="main-content-wrapper">
            <div class="advertise-group">
                <a href="#">
                    <img src="http://www.xfz.cn/static/build/images/web-venture-banner.png" alt="">
                </a>
            </div>
            <ul class="document-list">
                <li>
                    <a href="#">
                        <div class="category-group" style="background-image:url('http://xfz.cn/static/build/images/web-bp-pc.png')"></div>
                        <div class="document-info">
                            <p class="document-title">如何写好一份计划书</p>
                            <p class="document-desc">一份好的计划书是创业的成功要点</p>
                            <p class="document-price">
                                点击下载
                                ￥45
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="category-group" style="background-image:url('http://xfz.cn/static/build/images/web-bp-pc.png')"></div>
                        <div class="document-info">
                            <p class="document-title">如何写好一份计划书</p>
                            <p class="document-desc">一份好的计划书是创业的成功要点</p>
                            <p class="document-price">
                                点击下载
                                ￥45
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="category-group" style="background-image:url('http://xfz.cn/static/build/images/web-bp-pc.png')"></div>
                        <div class="document-info">
                            <p class="document-title">如何写好一份计划书</p>
                            <p class="document-desc">一份好的计划书是创业的成功要点</p>
                            <p class="document-price">
                                点击下载
                                ￥45
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        {% include "common/sidebar.html" %}
    </div>
</div>
{% endblock %}

