{% extends 'base/front_base.html' %}

{% block title %}小饭桌{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/search/search.min.css' %}">
{% endblock %}

{% block main %}
<div class="main">
    <div class="wrapper">
        <div class="main-content-wrapper">
            <div class="search-group">
                <form action="" method="get">
                    <input type="text" name="q" class="search-input" placeholder="请输入关键字">
                    <input type="submit" class="search-btn" value="搜索">
                </form>
            </div>
            <div class="recommend-group">
                <p class="recommend-title">热门推荐</p>
                <ul class="recommend-list">
                    <li>
                        <div class="thumbnail-group">
                            <a href="#">
                                <img src="https://static-image.xfz.cn/1578101299_163.jpg-website.news.list" alt="">
                            </a>
                        </div>
                        <div class="news-group">
                            <p class="title">
                                <a href="#"> 早报：OYO被曝房源造假；理想汽车秘密申请美国IPO；滴滴出行暂停新司机注册审核7天</a>
                            </p>
                            <p class="desc">
                                滴滴顺风车1月6日上线杭州、上海等8个城市试运营
                            </p>
                            <p class="more">
                                <span class="category">深度报道</span>
                                <span class="pub-time">1小时前</span>
                                <span class="author">知了课堂</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {% include 'common/sidebar.html' %}
    </div>
</div>
{% endblock %}